<div class="col-lg-8">
    <article>
    <header class="mb-4">
    <h1 class="fw-bolder mb-1"><%= title %></h1>
    <div class="text-muted fst-italic mb-2"><%= date %></div>
    </header>



    <div >
        <figure class="shadow-lg p-3 mb-5 bg-body rounded"><img class="img-fluid rounded " src="<%= hostname + article.picture.url%>"></figure>
    </div>

    
    <section class="mb-5">
    <p class="fs-5 mb-4"></p>
    <%- html %>
  
    </section>
    <!-- </li> -->
    </article>
  </div>